@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

    a {
    color: #ffffff;
    text-decoration: none;

}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #7cf03d;
    --white-color: #fff;
    --disabled-color: #fff3;

}

body {
    color: var(--white-color);

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 2rem;
    color: var(--white-color0);
    font-weight: 500;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);

}

 .navbar {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     padding: 25px 9%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     visibility: hidden;
     opacity: 0;
     animation: show-content 1s linear forwards;
     animation-delay: 1.2s;
 
}
 
 @keyframes show-content {
     100% {
         visibility: visible;
         opacity: 1;
 
     }
}
 
 .navbar .logo {
     font-size: 25px;
     font-weight: 800;
 
}
 
 .navbar ul {
     display: flex;
}
 
 .navbar ul li {
     list-style: none;
     margin-left: 35px;
      
}
  .navbar ul li a {
       font-size: 20px;
       font-weight: 500;
       transition: .5s;
 
}
 
 .navbar ul li:hover a, 
 .navbar ul li.active a {
     color: #7cf03d;
}

 .bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;

}
 section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);
    background-image: url(Image/IT.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

}

 section.active {
        visibility: visible;
        opacity: 1;
        overflow: auto;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: var(--main-color);

}

.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.experience-container .experience-box {
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;

}
.experience-container .experience-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.experience-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-box .icon i {
    font-size: 4.5rem;
    transition: .5s;
}

.experience-box:hover .icon :not(a i) {
    color: var(--main-color);
}

.experience-box .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.experience-box:hover .icon a {
    background: var(--main-color);
}

.experience-box .icon a i {
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.experience-box .icon a:hover i {
    transform: rotate(180deg);
}

.experience-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: .5s;

}

.experience-box:hover h3 {
    color: var(--main-color);
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;

}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
      transform: translateY(0%);
    }
}